<% var title = 'SearchRecipe' %>

<%-include('header.ejs', {title: title})%>

    <section class="searchRecipe container">
        <h2 class="recipeInput_title"> - 레시피 검색하기 - </h2>

        <div class="recipeInput">
            <div class="recipeInput_content">
                <div class="recipeInput_text form-floating">
                    <input type="text" class="searchText id form-control" id="floatingInput" placeholder="food's name to search recipe">
                    <label for="floatingInput">요리 이름</label>
                </div>

                <div class="d-grid">
                    <button type="button" class="searchBtn btn btn-outline-dark" onclick="searchRecipe()">검색</button>
                </div>
            </div>
        </div>

        <div class="recipeResult">
            <h2 class="recipeResult_title"></h2>
          
            <div class="recipeResult_content">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <!-- 여기에 글 추가됨 -->
                </div>
            </div>

            <div class="pageNum"></div>

            <div class="recipeResult_navigation">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <!-- 여기에 페이지 버튼 추가됨 -->
                    </ul>
                </nav>
            </div>
        </div>
    </section>

<%-include('footer.ejs')%>

<script src="script/searchRecipe.js"></script>